.example-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
}

.example-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.example-1 h1 {
  position: relative;
  font-size: 64px;
  color: tomato;
}

.example-1 h1::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
